<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <alias name="mollerTrumberRayTriangleIntersectionSolver" alias="rayTriangleIntersectionSolver"/>
    <bean id="mollerTrumberRayTriangleIntersectionSolver"
          class="org.nikita.calculation.MollerTrumboreRayTriangleIntersectionSolver"/>

    <alias name="triangleOctree" alias="triangleTree"/>
    <bean id="triangleOctree" class="org.nikita.structure.TriangleOctree">
        <constructor-arg>
            <bean class="org.nikita.structure.TriangleBoundingBox"/>
        </constructor-arg>
        <constructor-arg ref="rayTriangleIntersectionSolver"/>
    </bean>

    <alias name="defaultLightSource" alias="lightSource"/>
    <bean id="defaultLightSource" class="org.nikita.geometry.Vector">
        <constructor-arg value="-1"/>
        <constructor-arg value="0"/>
        <constructor-arg value="-1"/>
    </bean>

    <alias name="normalTriangleColorIntensitySolver" alias="triangleColorIntensitySolver"/>
    <bean id="normalTriangleColorIntensitySolver" class="org.nikita.calculation.NormalTriangleColorIntensitySolver">
        <constructor-arg value="0.1"/>
        <constructor-arg ref="lightSource"/>
    </bean>

    <alias name="defaultCamera" alias="camera"/>
    <bean id="defaultCamera" class="org.nikita.geometry.Vector">
        <constructor-arg value="0"/>
        <constructor-arg value="0"/>
        <constructor-arg value="0"/>
    </bean>

    <alias name="defaultScreenCenter" alias="screenCenter"/>
    <bean id="defaultScreenCenter" class="org.nikita.geometry.Vector">
        <constructor-arg value="0"/>
        <constructor-arg value="1"/>
        <constructor-arg value="0"/>
    </bean>

    <alias name="defaultObjectColor" alias="objectColor"/>
    <bean id="defaultObjectColor" class="org.nikita.geometry.Color">
        <constructor-arg value="0"/>
        <constructor-arg value="255"/>
        <constructor-arg value="255"/>
    </bean>

    <alias name="defaultBackgroundColor" alias="backgroundColor"/>
    <bean id="defaultBackgroundColor" class="org.nikita.geometry.Color">
        <constructor-arg value="0"/>
        <constructor-arg value="0"/>
        <constructor-arg value="0"/>
    </bean>

    <bean id="objModel" class="org.nikita.renderer.ObjModel">
        <constructor-arg ref="objectColor"/>
        <constructor-arg ref="backgroundColor"/>
        <constructor-arg ref="triangleColorIntensitySolver"/>
        <constructor-arg ref="triangleTree"/>
    </bean>

    <bean id="screen" class="org.nikita.renderer.Screen">
        <constructor-arg ref="screenCenter"/>
        <constructor-arg>
            <value type="org.nikita.geometry.Axis">X</value>
        </constructor-arg>
        <constructor-arg>
            <value type="org.nikita.geometry.Axis">Z</value>
        </constructor-arg>
        <constructor-arg>
            <value type="org.nikita.geometry.Axis">Y</value>
        </constructor-arg>
        <constructor-arg value="1000"/>
        <constructor-arg value="1000"/>
    </bean>

    <alias name="rayTracingObjRenderer" alias="renderer"/>
    <bean id="rayTracingObjRenderer" class="org.nikita.renderer.RayTracingObjRenderer">
        <constructor-arg value="1.5"/>
        <constructor-arg ref="camera"/>
        <constructor-arg ref="objModel"/>
        <constructor-arg ref="screen"/>
    </bean>

    <bean id="controller" class="org.nikita.Controller">
        <constructor-arg ref="renderer"/>
    </bean>

</beans>
